autom4te.cache/
build-aux/
log/
patches/
.gdb_history
Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure
GPATH
GRTAGS
GSYMS
GTAGS
ID
*~

# CMake / modern-C++ refactor build trees
build/
build-*/
cmake-build-*/
src/config.h
